{% extends 'recetas/base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <h1>{{ receta.titulo }}</h1>
        <img src="{% static 'recetas/images/placeholder.jpg' %}" class="img-fluid mb-4" alt="Imagen de la receta">
        <p>{{ receta.descripcion }}</p>

        <h2>Ingredientes:</h2>
        <ul>
            {% for ingrediente in receta.ingredientes.all %}
                <li>{{ ingrediente.nombre }}</li>
            {% endfor %}
        </ul>

        <h2>Desarrollo de la receta:</h2>
        <p>{{ receta.desarrollo }}</p>
    </div>
{% endblock %}