{% extends 'recetas/base.html' %}
{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas del Blog</title>
    <link rel="stylesheet" href="{% static 'recetas/css/style.css' %}">
</head>
<body>

    
    {% block content %}
    <div class="container mt-5">
        <h1>Recetas del Blog</h1>
        {% for receta in recetas %}
            <div class="card mb-4">
                <a href="{% url 'recetas:detalle_receta' receta.id %}">
                    <img src="{% static 'recetas/images/placeholder.jpg' %}" class="card-img-top" alt="Imagen de la receta">
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'recetas:detalle_receta' receta.id %}">{{ receta.titulo }}</a>
                    </h5>
                    <p class="card-text">{{ receta.descripcion }}</p>
                    <a href="#" class="btn btn-primary">Ver Receta</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>