{% extends "base.html"%}

{% block titulo %}
<title>Acerca de</title>
{% endblock titulo %}

{% block contenido %}

<div class="acerca_de_contenedor">
    <div class="acerca_de">
        <br>
        <h2>Este sitio fue creado por:</h2>
        <br>
        <p id="cuerpo-inicio"> Urturi Nicolas Adolfo</p>
        <br>
        <p id="cuerpo-inicio"> Dominguez Gutierrez Rodrigo German</p>
        <br>
        <p id="cuerpo-inicio">Osuna Andrea Celeste</p>
        <br>
        <p id="cuerpo-inicio">Garcia Virginia Bangher</p>
    </div>
</div>


{% endblock contenido %}