{% extends "base.html"%}

{% block titulo %}
<title>Inicio</title>
{% endblock titulo %}

{% block contenido %}

<body>
    <br>
    <h1 id="inicio"Bienvenido a nuestro sitio de recetas></h1>
    <header>
        <div class="contenedor-encabezado">
            <img src= "../static/recetas/images/1234.jpg" class="imagen-2" width="100%" alt="" />  
            
        </div>
    </header>

<br>
    <div class="cont-tex-portada">
        
        <div class="tex-portada">
            <p id="cuerpo-inicio"> “Explora nuestras deliciosas recetas y encuentra inspiración para tu próxima comida.”
            </p>
            <p>¡Esperamos que disfrutes cocinando!</p>
            

        </div>
    </div>



       
<br>
<div class="pie-de-pagina">
    <footer>
        <p>&copy; 2023 Informatorio Blog de Recetas || Grupo #8y6 - Comisión 6</p>
    </footer>
</div>

</body>

</html>

{% endblock contenido %}